<a href="https://colab.research.google.com/github/mobilerobotp4/Python/blob/master/Panda_basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic operations on table using pandas

In [1]:
#import libraries
import pandas as pd

In [2]:
#import file from harddisk
from google.colab import files
uploaded = files.upload()

Saving vgsales.csv to vgsales.csv

In [5]:
#read the file in Pandas dataframe
df = pd.read_csv("vgsales.csv")
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [6]:
#Number of Rows and Columns in the file
df.shape

(16598, 11)

In [7]:
#To see all the columns of the dataset
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [8]:
#information of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [9]:
#To see the values of a particular column
df['Publisher']

0          Nintendo
1          Nintendo
2          Nintendo
3          Nintendo
4          Nintendo
            ...
16593         Kemco
16594    Infogrames
16595    Activision
16596      7G//AMES
16597       Wanadoo
Name: Publisher, Length: 16598, dtype: object

In [10]:
# subcategorize three columns
subset= df[['Name','Year','Genre']]
subset.head()

                       Name    Year         Genre
0                Wii Sports  2006.0        Sports
1         Super Mario Bros.  1985.0      Platform
2            Mario Kart Wii  2008.0        Racing
3         Wii Sports Resort  2009.0        Sports
4  Pokemon Red/Pokemon Blue  1996.0  Role-Playing

In [11]:
#Access a group of rows and columns by label(s) or a boolean array.
#It is looking for the matching String "2" and not for the index 2.
df.loc[2]

Rank                         3
Name            Mario Kart Wii
Platform                   Wii
Year                      2008
Genre                   Racing
Publisher             Nintendo
NA_Sales                 15.85
EU_Sales                 12.88
JP_Sales                  3.79
Other_Sales               3.31
Global_Sales             35.82
Name: 2, dtype: object

In [12]:
#if we are looking for multiple rows
df.loc[[6, 2]]

   Rank                   Name Platform  ...  JP_Sales Other_Sales Global_Sales
6     7  New Super Mario Bros.       DS  ...      6.50        2.90        30.01
2     3         Mario Kart Wii      Wii  ...      3.79        3.31        35.82

[2 rows x 11 columns]

In [13]:
#This is fetching data indexwise
df.iloc[2]

Rank                         3
Name            Mario Kart Wii
Platform                   Wii
Year                      2008
Genre                   Racing
Publisher             Nintendo
NA_Sales                 15.85
EU_Sales                 12.88
JP_Sales                  3.79
Other_Sales               3.31
Global_Sales             35.82
Name: 2, dtype: object

In [14]:
#Filtering columns depeding upon a particular value
df.loc[df['Genre']=='Racing',['Genre','Publisher']]

        Genre                    Publisher
2      Racing                     Nintendo
11     Racing                     Nintendo
28     Racing  Sony Computer Entertainment
42     Racing                     Nintendo
47     Racing  Sony Computer Entertainment
...       ...                          ...
16530  Racing              Milestone S.r.l
16543  Racing                          NaN
16573  Racing               Popcorn Arcade
16574  Racing                  Takara Tomy
16595  Racing                   Activision

[1249 rows x 2 columns]

In [16]:
#Filtering columns depeding upon two or more criteria 
df.loc[(df['Genre']=='Racing') & (df['Publisher']=='Sony Computer Entertainment'),['Name','Genre','Publisher']]

                                     Name   Genre                    Publisher
28                 Gran Turismo 3: A-Spec  Racing  Sony Computer Entertainment
47                         Gran Turismo 4  Racing  Sony Computer Entertainment
52                           Gran Turismo  Racing  Sony Computer Entertainment
54                         Gran Turismo 5  Racing  Sony Computer Entertainment
69                         Gran Turismo 2  Racing  Sony Computer Entertainment
...                                   ...     ...                          ...
12820  MotoGP 4 - Official Game of MotoGP  Racing  Sony Computer Entertainment
13002              Ferrari F355 Challenge  Racing  Sony Computer Entertainment
13893   WRC: FIA World Rally Championship  Racing  Sony Computer Entertainment
13997                        Formula 1 06  Racing  Sony Computer Entertainment
14166                              MotoGP  Racing  Sony Computer Entertainment

[65 rows x 3 columns]