# **Python ellipsis**
The Python ellipsis is a sequence of three dots(...). It’s used a lot in conventional (non-programming) languages.

Python ellipsis as a placeholder:

It can be used as a placeholder, e.g. when you intend to fill in a Python function later on, but still want to have a valid syntax

Many people use pass in such cases, but this looks nicer.

In [ ]:
#Example code
def area():
  ...

**The ellipsis in NumPy slice notation**

The most useful application of the ellipsis is in the numpy library. With NumPy, you can slice multiple dimensions at once by using commas. To demonstrate, first create a simple three-dimensional matrix:

In [ ]:
import numpy as np
x = np.array([   [ [1],[2],[3] ], [ [4],[5],[6] ]   ])
x[:,:]

array([[[1],
        [2],
        [3]],

       [[4],
        [5],
        [6]]])

In [ ]:
#Other way to print it using ellipsis
x[...]

array([[[1],
        [2],
        [3]],

       [[4],
        [5],
        [6]]])

In [ ]:
#To get all the data elements from the first index of the first dimension:
x[0, ... ]

array([[1],
       [2],
       [3]])

# **Data classes**
Since version 3.7, Python offers data classes. There are several advantages over regular classes or other alternatives like returning multiple values or dictionaries.

A data class requires a minimal amount of code

Data classes are comparable because __eq__ is implemented for you

Data classes can be easily print  for debugging because __repr__ is implemented as well

Data classes require type hints, reduced the chances of bugs

In [ ]:
#Regular class example
class InventoryItem:
    '''Class for keeping track of an item in inventory.'''
    name: str
    unit_price: float
    quantity_on_hand: int = 0

    def __init__(
            self, 
            name: str, 
            unit_price: float,
            quantity_on_hand: int = 0
        ) -> None:
        self.name = name
        self.unit_price = unit_price
        self.quantity_on_hand = quantity_on_hand

    def total_cost(self) -> float:
        return self.unit_price * self.quantity_on_hand

    def __repr__(self) -> str:
        return (
            'InventoryItem('
            f'name={self.name!r}, unit_price={self.unit_price!r}, '
            f'quantity_on_hand={self.quantity_on_hand!r})'

    def __hash__(self) -> int:
        return hash((self.name, self.unit_price, self.quantity_on_hand))

    def __eq__(self, other) -> bool:
        if not isinstance(other, InventoryItem):
            return NotImplemented
        return (
            (self.name, self.unit_price, self.quantity_on_hand) == 
            (other.name, other.unit_price, other.quantity_on_hand))

In [ ]:
#Same example for data class
from dataclasses import dataclass

@dataclass(unsafe_hash=True)
class InventoryItem:
    '''Class for keeping track of an item in inventory.'''
    name: str
    unit_price: float
    quantity_on_hand: int = 0

    def total_cost(self) -> float:
        return self.unit_price * self.quantity_on_hand

In [ ]:
inventory_item1 = InventoryItem("Paper",5.62,10)

In [ ]:
inventory_item1

InventoryItem(name='Paper', unit_price=5.62, quantity_on_hand=10)

In [ ]:
#One more Example
inventory_item2=InventoryItem("Pen",2.25,50)
inventory_item2

InventoryItem(name='Pen', unit_price=2.25, quantity_on_hand=50)

In [ ]:
print(InventoryItem.total_cost(inventory_item1))
print(InventoryItem.total_cost(inventory_item2))

56.2
112.5

# **Zen of Python**

The Zen of Python is a collection of 19 "guiding principles" for writing computer programs that influence the design of the Python programming language.

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# **Anonymous functions**

Sometimes, naming a function is not worth the trouble. For example when you’re sure the function will only be used once. For such cases, Python offers us anonymous functions, also called lambda functions.

A lambda function can be assigned to a variable, creating a concise way of defining a function

In [ ]:
add_one = lambda x: x+1
print(add_one(4))

5

Using a function as an argument makes it more interesting. In such cases, the function is often used only once.We can use a lambda when calling map which can be applied to all elements of an iterable object.

In [ ]:
numbers = [1, 2, 3, 4]
times_two = map(lambda x: x * 2, numbers)
list(times_two)

[2, 4, 6, 8]

# **List Comprehension**
A list comprehension can replace ugly for loops used to fill a list.

In [ ]:
#Fill a list using for loop
# Based on a list of stationary, the new list, containing only the stationaries with the letter "p" in the name.
stationary = ["paper", "pen", "pencil", "sharpener", "eraser "]
newlist = []

for x in stationary:
  if "p" in x:
    newlist.append(x)

print(newlist)

['paper', 'pen', 'pencil', 'sharpener']

Now we replace the above code using list comprehension

Syntax:

[ expression for item in list if conditional ]

In [ ]:
mylist = [x for x in stationary if "p" in x]
print(mylist)

['paper', 'pen', 'pencil', 'sharpener']

In [ ]:
#And because we can use an expression, we can also do some math:
addition = [x+2 for x in range(10)]
print(addition)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#We can call an external function as well
def area_of_square(a):
    return (a**2)
    
my_formula = [area_of_square(i) for i in range(10)]
print(my_formula)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#we can use the ‘if’ to filter the list. In this case, we only keep the values that are dividable by 2
filtered = [i for i in range(20) if i%2==0]
print(filtered)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# **In place variable swapping**

In [ ]:
a = 1
b = 2
a, b = b, a
print (a)
print (b)

2
1

# **Named String Formatting**
If data is already in a dictionary, named string formatting is very useful for print

In [ ]:
info = {'name' : 'Joe',
         'age' : 64,
        'country': 'USA'}
"%(name)s is %(age)i and lives in %(country)s" %info

'Joe is 64 and lives in USA'

# **Nested list comprehensions**
If expression can be any valid Python expression, it can also be another list comprehension. This can be useful when you want to create a matrix.

In [ ]:
[[j for j in range(3)] for i in range(4)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

# **Use The Underscore in The REPL**
You can obtain the result of the last expression in a Python REPL with the underscore operator.

In [ ]:
5+6

11

In [ ]:
_*2

22

# **Return multiple values**

In [ ]:
#Return many values from a function in Python
def hours_to_relax(happy_hours):
   week1 = happy_hours + 2
   week2 = happy_hours + 4
   week3 = happy_hours + 6
   return [week1, week2, week3]
 
print(hours_to_relax(2))

[4, 6, 8]

In [ ]:
#function that returns a dictionary with a key/value pair
def price(): 
    d = dict(); 
    d['Pen'] = 5
    d['Paper'] = 10
    d['Notebook'] = 15
    return d
d = price() 
print(d)

{'Pen': 5, 'Paper': 10, 'Notebook': 15}

A list is similar to an array of items formed using square brackets, but it is different because it can contain elements of different types. Lists are different from tuples since they are mutable. That means a list can change. Lists are one of Python’s most powerful data structures because lists do not often have to remain similar. A list may include strings, integers, and items. They can even be utilized with stacks as well as queues.

In [ ]:
# A Python program to return multiple values using list
def pandemic(): 
    str1 = "Social"
    str2 = "Distancing"
    return [str1, str2];
 
list = pandemic() 
print(list)

['Social', 'Distancing']

A tuple is an ordered, immutable Python object. Tuples are normally used to store collections of heterogeneous data. Tuples are similar to lists except that they cannot be altered after they are defined. Typically, tuples are quicker than lists. A tuple may be created by separating items with commas:*x, y, z* or *(x, y, z)*.

In [ ]:
# A Python program to return multiple values using tuple
# This function returns a tuple 
def fun(): 
    str1 = "Summer"
    str2 = "vacation"
    return str1, str2; # we could also write (str1, str2)
str1, str2= fun() 
print(str1) 
print(str2)

Summer
vacation

**Using an Object**

This is identical to C/C++ as well as Java. A class (in C, a struct) can be formed to hold several attributes and return a class object

In [ ]:
# A Python program to return multiple values using class 
class Intro: 
 def __init__(self): 
  self.str1 = "hello"
  self.str2 = "world"
# This function returns an object of Intro
def message(): 
 return Intro() 
 
x = message() 
print(x.str1) 
print(x.str2)

hello
world

In [ ]:
#Return multiple values using a Data Class
from dataclasses import dataclass
@dataclass
class Item_list:
    name: str
    perunit_cost: float
    quantity_available: int = 0
    def total_cost(self) -> float:
        return self.perunit_cost * self.quantity_available
    
book = Item_list("Introduction to Python", 50, 2)
x = book.total_cost()
print(x)
print(book)

100
Item_list(name='Introduction to Python', perunit_cost=50, quantity_available=2)

# **Merging dictionaries**
If there are overlapping keys, the keys from the first dictionary will be overwritten.

In [ ]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
merged = { **dict1, **dict2 }

print (merged)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
# Python >= 3.9 only
merged = dict1 | dict2

print (merged)

# **Slicing a list**
The basic syntax of list slicing is:

a[start:stop:step]

Start, stop and step are optional. If we don’t fill them in, they will default to:


*   0 for start
*   the end of the list for stop
*   1 for step

In [ ]:
# We can easily create a new list from 
# the first two elements of a list:
first_two = [1, 2, 3, 4, 5][0:2]
print(first_two)

[1, 2]

In [ ]:
#if we use a step value of 2, we can skip over every second number like this:
steps = [1, 2, 3, 4, 5][0:5:2]
print(steps)

[1, 3, 5]

In [ ]:
# This works on strings too. In Python, we can treat a string like a list of letters:
mystring = "Roses are red"[::2]
print(mystring)

Rssaerd

# **Check memory usage of your objects**
With sys.getsizeof() you can check the memory usage of an object:

In [ ]:
import sys

mylist = range(0, 10000)
print(sys.getsizeof(mylist))

48

**Why is this huge list only 48 bytes?**

It’s because the range function returns a class that only behaves like a list. A range is a lot more memory efficient than using an actual list of numbers.

A list comprehension returns actual list of numbers from the same range:

In [ ]:
import sys

myreallist = [x for x in range(0, 10000)]
print(sys.getsizeof(myreallist))

87624

# **String to title case**

If we want to quickly get a nice looking headline, we can use the title method on a string.

In [ ]:
mystring = "please keep social distancing"
print(mystring.title())

Please Keep Social Distancing

# **Split a string into a list**

We can split a string into a list of strings. In this case, we split on the space character. To split on whitespace, we actually don’t have to give split any arguments. By default, all runs of consecutive whitespace are regarded as a single whitespace separator by split. So we could just as well use mystring.split().

In [ ]:
mystring = "please keep social distancing"
mylist = mystring.split(' ')
print(mylist)

['please', 'keep', 'social', 'distancing']

Split also allows a second parameter, called maxsplit, which defines the maximum number of splits. It defaults to -1 (no limit). An example where we limit the split to 1

In [ ]:
 mystring.split(' ', 1)

['please', 'keep social distancing']

# **Create a string from a list of strings**
Create a string from a list and put a space character between each word

In [ ]:
mylist = ['please', 'keep', 'social', 'distancing']
mystring = " ".join(mylist)
print(mystring)

please keep social distancing

mylist.join(" ") is not a valid command because It comes down to the fact that the String.join() function can join not just lists, but any iterable. Putting it inside String prevents implementing the same functionality in multiple places.

# **Query JSON**
https://python.land/data-processing/working-with-json/jmespath

In [ ]:
import jmespath
j = { "people": [{ "name": "erik", "age": 38 }] }
jmespath.search("people[*].age", j)

[38]

In [ ]:
pip install jmespath

Collecting jmespath
  Downloading https://files.pythonhosted.org/packages/07/cb/5f001272b6faeb23c1c9e0acc04d48eaaf5c862c17709d20e3469c6e0139/jmespath-0.10.0-py2.py3-none-any.whl
Installing collected packages: jmespath
Successfully installed jmespath-0.10.0

In [ ]:
pip install simplejson

Collecting simplejson
  Downloading https://files.pythonhosted.org/packages/73/96/1e6b19045375890068d7342cbe280dd64ae73fd90b9735b5efb8d1e044a1/simplejson-3.17.2-cp36-cp36m-manylinux2010_x86_64.whl (127kB)
     |████████████████████████████████| 133kB 5.3MB/s
Installing collected packages: simplejson
Successfully installed simplejson-3.17.2

# **Reversing strings and lists**
We can use the slice notation from above to reverse a string or list. By using a negative stepping value of -1, the elements are reversed

In [ ]:
#reversing string
revstring = "abcdefg"[::-1]
print(revstring)

#reversing array
revarray = [1, 2, 3, 4, 5][::-1]
print(revarray)

gfedcba
[5, 4, 3, 2, 1]

# **Get unique elements from a list or string**
By creating a set with the set() function, you get all the unique elements from a list or list-like object

In [ ]:
mylist = [1, 1, 2, 3, 4, 5, 5, 5, 6, 6]
print (set(mylist))

# And since a string can be treated like a 
# list of letters, you can also get the 
# unique letters from a string this way:
print (set("aaabbbcccdddeeefff"))

{1, 2, 3, 4, 5, 6}
{'a', 'e', 'c', 'd', 'f', 'b'}

# **Valid Dictionary Values**
We can put anything in a dictionary. We’re not limited to numbers or strings. In fact, we can put dictionaries and lists inside oue dictionary and access the nested values in a very natural way

In [ ]:
dic = { 'sub_dict': { 'b': True }, 'mylist': [100, 200, 300] }
print(dic['sub_dict']['b'])
print(dic['mylist'][1])

True
200

# **Ternary Operator For Conditional Assignment**
This is another one of those ways to make our code more concise while still keeping it readable

Syntax: [on_true] if [expression] else [on_false]

One simple program using if-else statement

In [ ]:
x, y = 5, 6
if x>y:
   print("x")
else:
   print("y")

y

Now we will write the same program using ternary operator

In [ ]:
x, y = 5, 6
print("x" if x> y else "y")

y

# **Counting occurrences in a list**
We can use Counter from the collections library to get a dictionary with counts of all the unique elements in a list

In [ ]:
from collections import Counter

mylist = [1, 2,1, 2, 3, 4, 5, 5, 5, 6, 6,5]
c = Counter(mylist)
print(c)

Counter({5: 4, 1: 2, 2: 2, 6: 2, 3: 1, 4: 1})

In [ ]:
#it works on strings too:
print(Counter("aaaaabbbbbccccc"))

Counter({'a': 5, 'b': 5, 'c': 5})

# **Chaining comparison operators**
Create more readable and concise code by chaining comparison operators

In [ ]:
x = 10

# Instead of:
if x > 5 and x < 15:
    print("Yes")


# We can also write:
if 5 < x < 15:
    print("Yes")

Yes
Yes

# **Dictionary and set comprehensions**
A dictionary requires a key and a value. Otherwise, it’s the same trick again

In [ ]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

The only difference is that we define both the key and value in the expression part.

The syntax for a set comprehension is not much different from a list comprehension. We just use curly brackets instead of square brackets.

`{ <expression> for item in list if <conditional> }`

In [ ]:
{s for s in range(1,5) if s % 2}

{1, 3}